<div class="book-item">
  <div class="book-img">
    <img [src]="book.posterUrl" [title]="book.title" [alt]="book.title" [routerLink]="'/books/' + book.id">
  </div>

  <div class="book-title">"{{book.title}}"</div>
  <div class="book-author">by {{book.author?.name}}</div>
  <div class="book-genres">Genres: {{book.genresString}}</div>
  <div class="book-pages">Pages: {{book.pages}}</div>
  <div class="book-left-amount">Left amount: {{book.leftAmount}}</div>
  <div class="book-price">Price: {{book.price | currency:'USD':'symbol':'1.2-2'}}</div>
  <div class="book-mark">{{book.avgMark}} &#11088; ({{book.reviewsCount}})</div>

  <button
    class="book-add-to-cart"
    type="button"
    [disabled]="cartItemCount >= book.leftAmount"
    (click)="addToCart()"
  >Add to cart</button>
</div>
