.cart-wrapper {
  padding: 20px;

  .cart-list {
    display: flex;
    flex-direction: column;

    .cart-item {
      border-bottom: 1px solid #ccc;

      .cart-item-photo {
        object-fit: contain;
      }
    }

    .cart-item-total-price {
      text-align: right;
      font-size: 1.2rem;
    }
  }
}

.cart-list-empty {
  text-align: center;
  font-size: 1.2rem;
}
